<form action="/shelters/<%= @shelter.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit Shelter's Information</p>

  <label for="name">Name:</label><br>
  <input type='text' name='shelter[name]' value="<%= @shelter.name %>"/><br/>

  <label for="address">Address:</label><br>
  <input type='text' name='shelter[address]' value="<%= @shelter.address %>"/><br/>

  <label for="city">City:</label><br>
  <input type='text' name='shelter[city]' value="<%= @shelter.city %>"/><br/>

  <label for="state">State:</label><br>
  <input type='text' name='shelter[state]' value="<%= @shelter.state %>"/><br/>

  <label for="zip">Zip:</label><br>
  <input type='text' name='shelter[zip]' value="<%= @shelter.zip %>"/><br/>
 
  <p> <input type='submit'value="Update"/> </p>
</form>