<ul><%=link_to "Shelters Index", "/shelters"%></ul>
<ul><%=link_to "Pets Index", "/pets"%></ul>

<h1>Shelters</h1>
<form action="/shelters/new">
    <input type="submit" value="New Shelter" />
</form>

<% @shelters.each do |shelter| %>
  <ul> <li><h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3></li></ul>

  <ul><%= link_to "Edit #{shelter.name}", "/shelters/#{shelter.id}/edit" %></ul>
  <ul><%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %></ul>
<% end %>