<h1><%= @shelter_name%> Available Pets</h1>

<%= link_to "Create Pet", "/shelters/#{@shelter_id}/pets/new"%>

<% @shelter.each do |pet| %>

  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <ul><%= image_tag(pet.image, alt: pet.name, class: "pet-index-image") %> </ul> 
  <ul>Age: <%= pet.age %></ul>
  <ul>Sex: <%= pet.sex %></ul>

  <ul><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></ul>
  <ul><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></ul>

<% end %>