
<h1><%=shelter.name%> Available Pets</h1>
<h2><%=shelter.name%></h2>

<% @pets.each do |pet| %>

  <h3><%= pet.name %></h3>
  <ul><%= image_tag(pet.image, alt: pet.name, class: "pet-index-image") %> </ul> 
  <ul>Age: <%= pet.age %></ul>
  <ul>Sex: <%= pet.sex %></ul>
  <ul>Shelter: <%= pet.shelter.name %></ul>
<% end %>