<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelters Index</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="main_container">
      <main>
        <div class="child">

          <div class="grid-pet-container">
            <div class="info">
              <ul><h3><%= @shelter.name %></h3></ul>
              <ul><%= @shelter.address %>, <%= @shelter.city %> </ul>
              <ul><%= @shelter.state %>, <%= @shelter.zip %></ul>
              <% @shelter.reviews.each do |review| %>
                <ul> <%= review.title %></ul>
                <ul> <%= review.content %></ul>
                <ul> <%= review.optional_picture %></ul>
              <% end %>
            </div>

            <nav class="links">
              <ul><%= link_to "#{@shelter.name} pets", "/shelters/#{@shelter.id}/pets" %></ul>
              <ul><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></ul>
              <% if @shelter.pets.any?{ |pet| pet.application_pending == true} %>
              <ul><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new"%></ul>
              <% else %>
              <ul><%= link_to "New Review", "/shelters/#{@shelter.id}/reviews/new"%></ul>
              <ul><%= link_to "Delete", "/shelters/#{@shelter.id}", method: :delete %></ul>
              <% end %>
            </nav>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
