<ul><%=link_to "Shelters Index", "/shelters"%></ul>
<ul><%=link_to "Pets Index", "/pets"%></ul>

<a href="/shelters">Shelters List</a>

<ul><h3><%= @shelter.name %></h3></ul>
<ul><%= @shelter.address %>, <%= @shelter.city %> </ul>
<ul><%= @shelter.state %>, <%= @shelter.zip %></ul>


<ul><%= link_to "#{@shelter.name} pets", "/shelters/#{@shelter.id}/pets" %></ul>

<ul><a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a></ul>

<ul><form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form></ul>