<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorited Pets Index</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="pets_container">
      <main>
        <div class="child">
          <% if @favorites.favorites.empty? %><br>
          <%="You haven't favorited any pets"%><br/>
          
          <% else %>
            <div class="grid-pet-container pet">
              <div class="banner-grid_item"></div>
              
                <% @favorites.favorites.each do |pet| %>

                  <div id= <%= "pet-#{pet.id}" %>>
                    <%= image_tag(pet.image, alt: pet.name, class: "pet-index-image") %>
                    <nav class="name"> <h1><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h1></nav>
                    <ul><%= link_to "Remove Favorite", toogle_favorite_pet_path(pet),  method: :patch %></ul>
                    <nav><ul><%= link_to "Adopt #{pet.name}", "/pets/#{pet.id}/adopt" %></ul></nav>
                  </div>

                <%end%>

              </div>
            <% end %>
          </div>
        </div>

        <%= link_to "Remove All Favorites", "/favorites", method: :delete %>

      </main>
    </div>
  </body>
</html>
