<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelters Index</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
   <div class="pets_container">

      <main>
        <div class="child">
          <h1>Edit Pet's Information</h1>
            
          <div class="form-container">

            <%= form_tag "/pets/#{@pet.id}", method: :patch do %>
              <%= label_tag :image %><br/>
              <%= text_field_tag :image, "#{@pet.image}"%><br/>
              <%= label_tag :name %><br/>
              <%= text_field_tag :name, "#{@pet.name}" %><br/>
              <%= label_tag :description %><br/>
              <%= text_field_tag :description, "#{@pet.description}" %><br/>
              <%= label_tag :age %><br/>
              <%= text_field_tag :age, "#{@pet.age}" %><br/>
              <%= label_tag :sex %><br/>
              <%= text_field_tag :sex, "#{@pet.sex}" %><br/>
              <br>
              <%= submit_tag "Update Pet" %>
            <% end %>
          </div>
        </div>
      </main>

    </div>

  </body>
</html>