<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Index</title>
    <link rel="stylesheet" href="style.css">
  </head>
<body>
   <div class="pets_container">
      <nav>
        <a href="/">HOME</a>
        <a href="/shelters">SHELTERS</a>
        <a href="/pets">PETS</a>
      </nav>
      
     <main>
        <div class="child"> 
          <h1>Available Pets</h1>

          <div class="grid-1">
            <% @pets.each do |pet| %>

              <div class="grid-pet-container pet">
               <div class="banner-grid_item"></div>

                <%= image_tag(pet.image, alt: pet.name, class: "pet-index-image") %>

                <nav class="name"> <h1> <a href="/pets/<%= pet.id %>"><%= pet.name %></a></h1> </nav>

                <div class="info">
                  <ul>Age: <%= pet.age %></ul>
                  <ul>Sex: <%= pet.sex %></ul>
                  <ul>Shelter: <%= pet.shelter.name %></ul>
                </div>
                
                <nav class="links">
                  <ul><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></ul>
                  <ul><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></ul>
                </nav>

              </div>
            <% end %>
          </div>
        </div>
      </main>

      <footer>
          <nav>
        <a href="#">Home</a>
        <a href="/shelters">Shelters</a>
        <a href="/pets">Pets</a>
      </nav>
        </footer>
    </div>

  </body>
</html>
<!--
<% @pets.each do |pet| %>

  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <ul><%= image_tag(pet.image, alt: pet.name, class: "pet-index-image") %> </ul> 
  <ul>Age: <%= pet.age %></ul>
  <ul>Sex: <%= pet.sex %></ul>
  <ul>Shelter: <%= pet.shelter.name %></ul>

  <ul><%= link_to "Edit #{pet.name}", "/shelters/#{pet.id}/edit" %></ul>
  <ul><%= link_to "Delete #{pet.name}", "/shelters/#{pet.id}", method: :delete %></ul>
<% end %>
-->
