
<section id="application-<%= @app.id %>">
  <h1>Applicant name: <%= @app.name %></h1>
  <h3>Address: <%= @app.address %></h3>
  <h4>City: <%= @app.city %></h4>
  <h4>State: <%= @app.state %></h4>
  <h4>Zip: <%= @app.zip %></h4>
  <h3>Applicant Phone Number: <%= @app.phone_number %></h3>
  <h3>Applicant self-description: <%= @app.description %></h3>
  <h4>Pets applying for: </h4><% @app.pets.each do |pet|  %>
  <h4><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
  <%= form_tag "/pets/#{pet.id}/applications/approve" do %>
  <%= label_tag "Choose which applications to approve: " %><br>
    <%= pet.name %>
    <%= submit_tag "Approve application for #{pet.name}" %>
  <% end %>
  <% end %>
</section>
