<!DOCTYPE html>
<html>
  <head>
    <title>Adopt Dont Shop Mod</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <nav class="topnav">
      <a href="/">HOME</a>
      <a href="/shelters">SHELTERS</a>
      <a href="/pets">PETS</a>
      <a href="#">Favorite <%=favorite%></a>
    </nav>
  </header>
  
  <body>
    <% flash.each do |type, message| %>
      <p><%= message %></p>
      <% end %>

    <%= yield %>
  </body>
</html>
